{{- define "main" }}

<h1 class="post-title" > {{ .Title }}</h1>
<br />
  {{- range $.Site.Data.blogs }}
  <article class="post-entry">
    <header class="entry-header">
      <h3>
        <a href="{{.url }}">{{ .name }}</a>
      </h3>
    </header>
    <section class="entry-content">
      <p>{{ .summary | markdownify }}</p>
    </section>
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
{{ end }}
{{- end  }}{{/* end main */}}
