 {{- define "main" }} {{ $jsonUrl := .Site.Params.jsonresume.url }} {{ $jsonData := getJSON $jsonUrl }}

<div id="resume">
    {{with $jsonData.basics}}
        {{partial "resume.contact.html" .}} 
    {{ end }}
    {{with $jsonData.work}}
        {{partial "resume.work.html" .}} 
    {{- end}}
    {{with $jsonData.volunteer}}
        {{partial "resume.volunteer.html" .}} 
    {{- end}}
    <!-- 
    {{with $jsonData.education}}
        {{partial "resume.education.html" .}} 
    {{- end}}
   {{with $jsonData.projects}}
    {{partial "resume.projects.html" .}} 
    {{- end}}
    -->
    {{with $jsonData.languages}}
        {{partial "resume.languages.html" .}} 
    {{- end}}
    {{with $jsonData.skills}}
        {{partial "resume.skills.html" .}} 
    {{- end}}

</div>
{{- end }} {{/* end main */}}