<h2>
    Community
</h2>
<section class="position">
    {{ range . }}
    <h3>
        {{if .url}}
        <a target="_blank" rel="noopener" href="{{ .url}}">{{ .organization}}</a> {{else}} {{ .organization}} {{end}}
    </h3>
    <h4>
        {{if .position}} {{.position}} {{end}} {{if .startDate}} | {{ .startDate }} {{end}} {{if .endDate}} - {{ .endDate }} {{else}} {{if .startDate}} - Current {{end}} {{end}}
    </h4>

    {{if .summary}}
    <p>{{ .summary}}</p>
    {{end}} {{if .highlights}}
    <ul class="highlights">
        {{range .highlights}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    {{end}}{{end}}
</section>